:root {
  --background: #f7f7f7;
  --text-color: #000000;
  --decor-color: #FFC40E;
  --button-color: #1E1E1E;
  --font-montserrat: 'Montserrat', sans-serif;
}

html, body {
  background: var(--background);
  overflow-x: hidden !important;
  color: var(--text-color);
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--font-montserrat) !important;
}

button, option, label, select{
  font-family: var(--font-montserrat) !important;
}

.container{
  max-width: 1520px;
  margin: 100px auto;
}

h1{
  font-weight: 600;
  font-style: SemiBold;
  font-size: 74px;
  line-height: 100%;
  letter-spacing: 0%;

  @media (max-width:1400px) {
    font-size: 60px;
  }
  @media (max-width:1000px) {
    font-size: 50px;
  }
  @media (max-width:700px) {
    font-size: 40px;
  }
  @media (max-width:500px) {
    font-size: 30px;
  }
}

h2{
  color: var(--button-color);
  margin: 0 0 50px;
  font-weight: 500;
  font-style: Medium;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
}

h3{
  font-weight: 500;
  margin: 0 ;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

h4{
  margin: 0;
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

p{
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  letter-spacing: 0%;
}

a{
  text-decoration: none;
  color: var(--text-color);
}


